{% extends 'Admin/base.html.twig' %}



{% block body %}
<a href="{{ path('app_admin_user_create') }}">Ajout d'un utilisateur</a>
<table>
    <tr>
        <td>N°</td>
        <td>Name</td>
        <td>Email</td>
        <td>Adresses</td>
        <td>Role</td>
        <td>Actions</td>
    </tr>
    {% for label in data %}
    <tr>
        <td>{{label.id}}</td>
        <td>{{label.name}}</td>
        <td>{{label.email}}</td>
        <td>
        {% for address in label.addresses %}
            {{address}}
        
        {% endfor %} 
        </td>
        <td>   
        {% for role in label.roles %}
            {{role}}
        
        {% endfor %}
        </td>
        <td><a href="{{ path('app_admin_user_edit', {id: label.id}) }}">Modifier</a> -<a href="{{ path('app_admin_user_delete',{id:label.id}) }}"> Supprimer</a></td>
        
    </tr>
    {% endfor %}
</table>


{% endblock %}