{% extends 'Admin/base.html.twig' %}



{% block body %}
{% for message in app.flashes('success') %}
    <div class="flash-success">
        {{ message }}
    </div>
{% endfor %}
<a href="{{ path('app_admin_address_create') }}">Ajout d'un utilisateur</a>
<table>
    <tr>
        <td>N°</td>
        <td>Rue</td>
        <td>Code Postal</td>
        <td>Ville</td>
        <td>Complément d'adresse</td>
        <td>Actions</td>
    </tr>
    {% for label in data %}
    <tr>
        <td>{{label.number}}</td>
        <td>{{label.street}}</td>
        <td>{{label.postCode}}</td>
        <td>{{label.city}}</td>
        <td>{{label.supplement}}</td>
        <td><a href="{{ path('app_admin_address_edit', {id: label.id}) }}">Modifier</a> -<a href="{{ path('app_admin_address_delete',{id:label.id}) }}"> Supprimer</a></td>
        
    </tr>
    {% endfor %}
</table>
    <a href="{{ path('app_admin_admin_home') }}">Retour à l'accueil</a> 


{% endblock %}