{% extends 'base.html.twig' %}
{% block title %} Page d'accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/front.css">
{% endblock %}
{% block body %}
<header>
    {% block header %}
        <nav class="navbar">
            <ul>
                <li><a href="{{path('app_front_user_home')}}"><span>L</span>ook<span>B</span>ook</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('app_front_user_myProfile') }}">Voir mon profil</a>
                    </li>
                {% endif %}
                <li><a href="{{ path('app_front_user_showAllProfiles') }}">Voir les profils</a></li>
                <li><a href="{{ path('app_front_author_list') }}">Voir les auteurs</a></li>
                <li><a href="{{ path('app_front_user_login') }}">Se connecter</a></li>
            </ul>
        </nav>
    {% endblock %}
</header>

<main>
    {% block main %}
        <h1>Bienvenue </h1>
        {% if is_granted('ROLE_ADMIN') %}
            <p>Vous êtes administrateur</p>
        {% endif %}
    {% endblock %}
</main>


{% endblock %}